In [23]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
columns = ('ImageName', 'threshold_canny', 'kernel_size_blur', 'area_convex_hull', 'area_contour','area_ellipse', 'circularity_hull',
           'circularity_contour')

# dataframe
df = pd.DataFrame(columns=columns)

In [11]:
data = {'ImageName': 'C:\\Users\\Ankur\\Desktop\\Uni Siegen\\SEM5\\Eye Detection\\Project-code-Ankur\\master-thesis-eye-tracking\\Results\\Hough21_01_2022_16_01_18\\hough_circle1.png', 'threshold_canny': 5, 'kernel_size_blur': 13, 'area_convex_hull': 1900.5, 'area_contour': 1873.5, 'area_ellipse': 1886.6501108218602, 'circularity_hull': 0.9897057275897333, 'circularity_contour': 161.78174495697021}

In [12]:
df.append(data,ignore_index=True)

,ImageName,threshold_canny,kernel_size_blur,area_convex_hull,area_contour,area_ellipse,circularity_hull,circularity_contour
0,C:\Users\Ankur\Desktop\Uni Siegen\SEM5\Eye Det...,5,13,1900.5,1873.5,1886.650111,0.989706,161.781745

In [15]:
MEDIAN_BLUR_K_SIZE_VALUES = [9, 11, 13, 15, 17, 19, 21]
CANNY_THRESHOLD_VALUES = [10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 35, 40, 55] 
metrix_threshold_and_kernel = pd.DataFrame(index=MEDIAN_BLUR_K_SIZE_VALUES, columns=CANNY_THRESHOLD_VALUES)

In [16]:
metrix_threshold_and_kernel

     10   12   14   16   18   20   22   24   26   28   30   35   40   55
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
13  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
15  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
17  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
19  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [17]:
metrix_threshold_and_kernel.loc[9,10] = 3

In [18]:
metrix_threshold_and_kernel

     10   12   14   16   18   20   22   24   26   28   30   35   40   55
9     3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
13  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
15  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
17  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
19  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
21  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [19]:
for i in MEDIAN_BLUR_K_SIZE_VALUES:
    for j in CANNY_THRESHOLD_VALUES:
        metrix_threshold_and_kernel.loc[i,j] = 10

In [20]:
metrix_threshold_and_kernel

    10  12  14  16  18  20  22  24  26  28  30  35  40  55
9   10  10  10  10  10  10  10  10  10  10  10  10  10  10
11  10  10  10  10  10  10  10  10  10  10  10  10  10  10
13  10  10  10  10  10  10  10  10  10  10  10  10  10  10
15  10  10  10  10  10  10  10  10  10  10  10  10  10  10
17  10  10  10  10  10  10  10  10  10  10  10  10  10  10
19  10  10  10  10  10  10  10  10  10  10  10  10  10  10
21  10  10  10  10  10  10  10  10  10  10  10  10  10  10

In [22]:
mean_data = pd.read_csv()

 Volume in drive C is Acer
 Volume Serial Number is 643C-7033

 Directory of C:\Users\Ankur\Desktop\Uni Siegen\SEM5\Eye Detection\Project-code-Ankur\master-thesis-eye-tracking\Windows

17/03/2022  10:47    <DIR>          .
17/03/2022  10:47    <DIR>          ..
10/03/2022  13:41    <DIR>          .ipynb_checkpoints
02/03/2022  15:46             2,051 blob-detector.py
17/03/2022  10:29            21,549 dataManipulation.ipynb
24/02/2022  12:12             3,023 detect_pupil.py
16/03/2022  10:58             4,269 ellipseFiltering.py
14/02/2022  16:30             1,579 haarCascade.py
17/01/2022  09:55           353,619 haarcascade_eye.xml
14/02/2022  15:13           203,574 haarcascade_eye_right2split.xml
02/03/2022  15:46             3,015 histogramNormalisation.py
02/03/2022  15:46             1,683 HoughCirclesSideDetection.py
14/02/2022  16:28               421 loggingUtility.py
16/03/2022  16:39               443 open_cv_data_collector.py
23/02/2022  15:43             2,647 pupilDetector.py
16/03/2022  10:58             2,424 pupilDetectorThreshold.py
02/03/2022  15:46             1,294 test.py
11/03/2022  11:02             3,385 test11_03_2022_11_02_09.csv
11/03/2022  11:05             8,110 test11_03_2022_11_04_38.csv
11/03/2022  11:07             2,316 test11_03_2022_11_06_36.csv
11/03/2022  11:10             1,359 test11_03_2022_11_09_11.csv
11/03/2022  11:10               549 test11_03_2022_11_10_26.csv
11/03/2022  11:10               125 test11_03_2022_11_10_53.csv
11/03/2022  11:23               125 test11_03_2022_11_23_33.csv
11/03/2022  11:24               125 test11_03_2022_11_24_00.csv
11/03/2022  16:07               125 test11_03_2022_16_06_59.csv
11/03/2022  16:08            23,676 test11_03_2022_16_07_35.csv
11/03/2022  16:28            11,222 test11_03_2022_16_28_17.csv
11/03/2022  16:29             4,866 test11_03_2022_16_29_34.csv
11/03/2022  16:41            19,734 test11_03_2022_16_30_29.csv
16/03/2022  11:05             1,892 test16_03_2022_11_04_54.csv
16/03/2022  11:12               996 test16_03_2022_11_12_30.csv
16/03/2022  11:16             4,909 test16_03_2022_11_14_29.csv
16/03/2022  11:52             7,095 test16_03_2022_11_52_25.csv
16/03/2022  12:20           258,848 test16_03_2022_12_00_07.csv
16/03/2022  14:34           163,169 test16_03_2022_14_33_41.csv
16/03/2022  14:39           163,169 test16_03_2022_14_39_06.csv
16/03/2022  14:44           163,169 test16_03_2022_14_43_27.csv
16/03/2022  14:50           163,169 test16_03_2022_14_49_45.csv
16/03/2022  14:55           163,169 test16_03_2022_14_54_22.csv
16/03/2022  15:02           163,169 test16_03_2022_15_02_02.csv
16/03/2022  15:14           163,169 test16_03_2022_15_14_13.csv
16/03/2022  15:16           163,169 test16_03_2022_15_15_26.csv
16/03/2022  15:25           163,169 test16_03_2022_15_24_51.csv
16/03/2022  16:34            69,291 test16_03_2022_16_33_58.csv
16/03/2022  17:01            69,291 test16_03_2022_17_00_58.csv
17/03/2022  10:14            69,291 test17_03_2022_10_14_02.csv
17/03/2022  10:29            69,291 test17_03_2022_10_29_25.csv
17/03/2022  10:30            69,291 test17_03_2022_10_30_06.csv
17/03/2022  10:34            69,291 test17_03_2022_10_33_43.csv
17/03/2022  10:36            69,291 test17_03_2022_10_35_38.csv
17/03/2022  10:41            69,291 test17_03_2022_10_41_08.csv
17/03/2022  10:43            69,291 test17_03_2022_10_42_33.csv
17/03/2022  10:47            69,291 test17_03_2022_10_47_00.csv
02/03/2022  15:46             2,762 testEllipseFitting.py
16/03/2022  16:33             7,239 Workbench.py
17/03/2022  10:46            10,905 Workbench_threshold_calculation.py
              54 File(s)      3,133,385 bytes
               3 Dir(s)  119,683,620,864 bytes free